body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

.produto {
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #04394e;
    transition: background-color 0.3s ease;
}

header {
    background-color: white;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

header a {
    font-size: 18px;
    transition: font-size 0.3s ease;
    text-align: center;
    margin-bottom: 10px;
}

.logo {
    margin-left: 50px;
}

.logo-li {
    margin-right: 30px;
}

.logo-li img {
    margin-right: 10px;
}

.logo img {
    max-height: 100px;
    width: 140px;
    margin-top: -8px;
    margin-bottom: -13px;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    transition: font-size 0.3s ease;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a img {
    width: 24px;
    height: auto;
}

.logo img {
    max-height: 100px;
}


      #box {
    width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 80px; 

}
        form {
            text-align: center;
        }

        h2 {
            font-size: 24px;
        }

        label {
            font-weight: bold;
            display: block;
            margin-top: 10px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 3px;
            transition: border-color 0.3s;
        }

        input[type="submit"] {
            background-color: #64a36f;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        input[type="submit"]:hover {
            background-color: #64a36f;
        }

        #box:hover input {
            border-color: #64a36f;
        }

/* Estilos do rodapé */
footer {
    background-color: white;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute; /* Posição absoluta para manter o rodapé no fundo da página */
    bottom: 0; /* Fixa o rodapé na parte inferior da página */
    width: 100%; /* Define a largura para ocupar toda a largura da página */
}

footer p {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}
