body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

.produto {
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #04394e;
    transition: background-color 0.3s ease;
}

header {
    background-color: white;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

header a {
    font-size: 18px;
    transition: font-size 0.3s ease;
    text-align: center;
    margin-bottom: 10px;
}

.logo {
    margin-left: 100px;
}

.logo {
    margin-left: 50px;
}

.logo-li {
    margin-right: 30px;
}

.logo-li img {
    margin-right: 10px;
}

.logo img {
    max-height: 100px;
    width: 140px;
}

.header .logo img {
    max-height: 80px; /* Reduzida a altura do logotipo para melhor ajuste */
}

/* Estilos do formulário de pesquisa */
.search-form {
    text-align: center;
    margin-top: 20px;
    transition: margin-top 0.3s ease;
}

.search-form input[type="text"] {
    padding: 10px;
    width: 80%; /* Aumentada a largura para um melhor espaço de entrada */
    border: none;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.search-form input[type="submit"] {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilos para a seção de Categorias */
#categorias {
    padding: 20px; /* Adicionado preenchimento para melhor espaçamento */
    text-align: center;
}

#categorias h2 {
    font-size: 28px; /* Aumentado o tamanho da fonte para melhor legibilidade */
    margin-bottom: 20px; /* Adicionada uma margem inferior para espaçamento */
}

/* CSS para o grid de categorias */
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

/* Estilos individuais das categorias */
.category {
    background-color: white;
    color: black;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s;
    border-radius: 10px;
}

.category a {
    text-decoration: none;
    color: black;
}

/* Adicionado espaçamento inferior após a seção de categorias */
#categorias {
    margin-bottom: 20px;
}

/* Estilos do rodapé */
footer {
    background-color: white;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute; /* Posição absoluta para manter o rodapé no fundo da página */
    bottom: 0; /* Fixa o rodapé na parte inferior da página */
    width: 100%; /* Define a largura para ocupar toda a largura da página */
}

footer p {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .search-form input[type="text"] {
        width: 100%; /* Largura total para dispositivos menores */
    }

    .search-form input[type="submit"] {
        width: 100%; /* Largura total para dispositivos menores */
    }
}
