/* Reset de margens e preenchimento */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #64a36f;
    transition: background-color 0.3s ease;
}

/* Estilos do cabeçalho */
header {
    background-color: white;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

header a {
    font-size: 18px;
    transition: font-size 0.3s ease;
    text-align: center;
    margin-bottom: 10px;
}

.logo {
    margin-left: 40px;
}

.logo-li {
    margin-right: 30px;
}

.logo-li img {
    margin-right: 10px;
}

.logo img {
    max-height: 100px;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    transition: font-size 0.3s ease;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a img {
    width: 24px;
    height: auto;
}

.logo img {
    max-height: 100px;
}

.menu {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    max-height: 100px;
}

/* Estilos das seções */
.section-title {
    font-size: 24px;
    margin-bottom: 10px;
    transition: font-size 0.3s ease, margin-bottom 0.3s ease;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh; /* Defina a altura mínima em relação à altura da viewport (por exemplo, 70% da altura da viewport) */
    padding: 20px;
    margin-top: 40px; /* Adicione um espaçamento superior para afastar o formulário do cabeçalho */
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Defina a largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário na página */
    margin-top: 40px; /* Adicione um espaçamento superior para afastar o formulário do cabeçalho */
}
.container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.help-block {
    color: #ff0000;
}

.btn-primary {
    background-color: #64a36f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-default {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos do rodapé */
footer {
    background-color: white;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute; /* Posição absoluta para manter o rodapé no fundo da página */
    bottom: 0; /* Fixa o rodapé na parte inferior da página */
    width: 100%; /* Define a largura para ocupar toda a largura da página */
}

footer p {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}