body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

.produto {
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #04394e;
    transition: background-color 0.3s ease;
}

header {
    background-color: white;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

header a {
    font-size: 18px;
    transition: font-size 0.3s ease;
    text-align: center;
    margin-bottom: 10px;
}

.logo {
    margin-left: 50px;
}

.logo-li {
    margin-right: 30px;
}

.logo-li img {
    margin-right: 10px;
}

.logo img {
    max-height: 100px;
    width: 140px;
    margin-top: -8px;
    margin-bottom: -13px;
}

header h1 {
    font-size: 24px; /* Reduzido o tamanho da fonte */
    font-weight: bold;
    transition: font-size 0.3s ease;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a img {
    width: 20px; /* Reduzido o tamanho da imagem */
    height: auto;
}

.logo img {
    max-height: 80px; /* Reduzido o tamanho da imagem do logo */
}

.menu {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    max-height: 80px; /* Reduzido o tamanho máximo */
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px; /* Reduzido o tamanho da fonte */
}

main {
    background-color: #fff;
    padding: 10px; /* Reduzido o preenchimento */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#user-profile {
    text-align: center;
}

#user-profile h2 {
    font-size: 18px; /* Reduzido o tamanho da fonte */
    margin-bottom: 10px;
}

#user-profile img {
    max-width: 150px; /* Reduzido o tamanho da imagem */
    height: auto;
    border-radius: 50%;
    margin: 10px 0;
}

#user-profile p {
    font-size: 14px;
}

#user-profile h3 {
    margin-top: 20px;
    font-size: 16px; /* Reduzido o tamanho da fonte */
}

#user-profile ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

#user-profile li {
    font-size: 14px; /* Reduzido o tamanho da fonte */
    margin: 5px 0;
}

#change-password {
    margin-top: 20px;
    text-align: center;
}

#change-password h3 {
    font-size: 16px; /* Reduzido o tamanho da fonte */
}

.form-group {
    margin: 10px 0;
}

.form-group label {
    font-weight: bold;
}

.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilos do rodapé */
footer {
    background-color: white;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}
