/* Reset de margens e preenchimento */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

/* Estilos do cabeçalho */
header {
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    transition: font-size 0.3s ease;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a img {
    width: 24px;
    height: auto;
}

.logo img {
    max-height: 100px;
}


#user-profile {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#user-profile h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#user-profile p {
    margin-bottom: 20px;
}

#user-profile h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

#user-profile ul {
    list-style: none;
    padding-left: 0;
}

#user-profile li {
    margin-bottom: 10px;
}

#user-profile a {
    text-decoration: none;
    color: #232f3e;
    font-weight: bold;
    margin-left: 10px;
}


.footer-container {
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
}