header {
    overflow: hidden; 
}


.navbar-fixed {
    background-color: #00875e; 
}

.navbar-fixed .brand-logo img.logo {
    height: 60px; 
}

.navbar-fixed ul.right li a {
    color: white; 
}


.catbox select {
    width: 200px; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}


.search-form input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.search-form input[type="submit"] {
    background-color: #00875e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.product-container {
    margin-top: 20px; 
}

.product {
    width: 300px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    margin-bottom: 20px;
}

.product img {
    max-width: 100%; 
    height: auto; 
}

.product h2 {
    font-size: 18px; 
    margin-top: 10px; 
}

.product p {
    margin-top: 5px; 
}

.buy-button {
    display: inline-block; 
    padding: 10px 20px; 
    font-size: 16px;
    background-color: #00875e; 
    text-decoration: none; 
    border-radius: 5px; 
    cursor: pointer;
}


footer {
    background-color: #00875e; 
    color: white;
    text-align: center;
    padding: 20px 0; 
}
