body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

.produto {
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #04394e;
    transition: background-color 0.3s ease;
}

header {
    background-color: white;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

header a {
    font-size: 18px;
    transition: font-size 0.3s ease;
    text-align: center;
    margin-bottom: 10px;
}

.logo {
    margin-left: 50px;
}

.logo-li {
    margin-right: 30px;
}

.logo-li img {
    margin-right: 10px;
}

.logo img {
    max-height: 100px;
    width: 140px;
    margin-top: -8px;
    margin-bottom: -13px;
}.logo {
    margin-left: 50px;
}

.logo-li {
    margin-right: 30px;
}

.logo-li img {
    margin-right: 10px;
}

.logo img {
    max-height: 100px;
    width: 140px;
    margin-top: -8px;
    margin-bottom: -13px;
}

header h1 {
    font-size: 28px; /* Slightly reduced font size for better fitting */
    font-weight: bold;
    transition: font-size 0.3s ease;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logo img {
    max-height: 80px; /* Reduced logo height for better fitting */
}

/* Estilos das seções */
.section-title {
    font-size: 20px; /* Reduced font size for better fitting */
    margin-bottom: 10px;
    transition: font-size 0.3s ease, margin-bottom 0.3s ease;
}

/* Estilos do formulário de pesquisa */
.search-form {
    text-align: center;
    margin-top: 20px;
    transition: margin-top 0.3s ease;
}

.search-form input[type="text"] {
    padding: 10px;
    width: 80%; /* Increased width for better input space */
    border: none;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.search-form input[type="submit"] {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilos do dropdown de categorias */
#categoryDropdown {
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Estilos do grid de produtos */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.product {
    background-color: white;
    color: black;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s;
    border-radius: 10px;
}

.product a {
    text-decoration: none;
    color: black;
}

/* Estilos do botão do WhatsApp */
.buy-button {
    display: inline-block;
    background-color: #64a36f;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.buy-button img {
    width: 20px;
    margin-right: 5px;
}

.buy-button:hover {
    background-color: #64a36f;
}

.spacer {
    height: 20px;
    background-color: transparent;
}

/* Estilos do rodapé */
footer {
    background-color: white;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute; /* Posição absoluta para manter o rodapé no fundo da página */
    bottom: 0; /* Fixa o rodapé na parte inferior da página */
    width: 100%; /* Define a largura para ocupar toda a largura da página */
}

footer p {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .search-input {
        width: 100%;
    }

    .search-button {
        width: 100%;
    }
}
