body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #64a36f;
    transition: background-color 0.3s ease;
}

header {
    background-color: white;
    color: white;
    text-align: center;
    padding: 0px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    transition: font-size 0.3s ease;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a img {
    width: 24px;
    height: auto;
}

.logo img {
    max-height: 100px;
}

.menu {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    max-height: 100px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 10px;
    transition: font-size 0.3s ease, margin-bottom 0.3s ease;
}

.search-form {
    text-align: center;
    margin-top: 20px;
    transition: margin-top 0.3s ease;
}

.search-form input[type="text"] {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.search-form input[type="submit"] {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center; 
}


.category {
    background-color: #232f3e; 
    color: white; 
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s;
    border-top: 3px solid #ffa07a; 
    border-bottom: 3px solid #9365b8; 
    border-left: 1px dashed #1d2937; 
    border-right: 1px dotted #1d2937;
    border-radius: 15px; 
}

.category a {
    text-decoration: none;
    color: white;
}

.category:hover {
    background-color: #64a36f; 
}

.banner {
    text-align: center;
    margin-top: 20px;
}

.banner img {
    max-width: 100%;
    height: auto;
}

#recent-products {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#recent-products h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


.slick-carousel {
    position: relative;
    margin: 0 auto; 
    max-width: 600px; 
    width: 50%; 
}

.slick-carousel .carousel-item {
     background: rgba(100, 163, 111, 0.7); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    transition: background 0.3s ease;
    text-align: center; /* Centraliza o conteúdo do item */
    width: 250px; /* Largura fixa para as caixas dos produtos */
    color: white;
    font-size: 18px;
}


.slick-carousel .carousel-item:last-child {
    margin-right: 0;
}

.slick-carousel .carousel-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


.slick-next,
.slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    background-color: #333;
    padding: 10px;
    border-radius: 50%;
    color: white;
    transition: background-color 0.3s ease;
}

.slick-next:hover,
.slick-prev:hover {
    background-color: #64a36f;
}

.slick-next {
    right: -25px;
}

.slick-prev {
    left: -25px;
}


.slick-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots li button {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slick-dots li.slick-active button {
    background-color: #64a36f;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    flex-grow: 1; 
}

.grid-item {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s ease;
    width: 250px; 
}

.grid-item img {
    max-width: 100%;
    height: auto;
    max-height: 150px; 
}

.grid-item h3 {
    font-size: 16px; 
    max-height: 40px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-item p {
    font-size: 14px; 
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.profile-icon-container {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;  
    overflow: hidden;
    display: inline-block; 
}

.profile-icon {
    max-width: 100%; 
    max-height: 100%; 
    display: block; 
}


.whatsapp-button {
    display: inline-block;
    background-color: #64a36f; 
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.whatsapp-button img {
    width: 20px; 
    margin-right: 5px;
}

.whatsapp-button:hover {
    background-color: #64a36f; 
}

.spacer {
    height: 20px;
    background-color: transparent; 
}


.support-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff; 
    color: #64a36f;
    border: 2px solid #64a36f; 
    border-radius: 50%;
    padding: 15px 20px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s, transform 0.3s, border 0.3s;
}

.support-button:hover {
    background-color: #64a36f; 
    color: #fff; 
    border: 2px solid #fff;
    transform: scale(1.1);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close-button {
    float: right;
    font-size: 30px;
    cursor: pointer;
}

.close-button:hover {
    color: #64a36f; 
}


footer {
    background-color: white;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .search-input {
        width: 100%;
    }

    .search-button {
        width: 100%;
    }
}
