body, h1, h2, h3, p, ul, li, form, label, input {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul li a img {
    width: 24px; 
    height: auto; 
}

.logo img {
    max-height: 100px; 
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: #232f3e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-container {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

footer a {
    color: white;
    text-decoration: none;
}